<main class="contenido">
    <div class="contenedor">

        <div class="contactos">
        <h2>~ CONTACTOS ~</h2>
        <h3><span class="fa fa-envelope"></span>&nbsp;: karina_photographer@gmail.com</h3>
        <h3><span class="fa fa-whatsapp"></span>&nbsp;: +54 011-70539933</h3>
        <h3><span class="fa fa-instagram"></span>&nbsp;: Karina De Luca</h3>
        <h3 id="ultimoicon"><span class="fa fa-facebook-square"></span>&nbsp;: KarinaDL</h3>
        </div>
        <div class="formu">
            <form  id="formulario" autocomplete="off" action="/cursoskdl"><br>
                
                Nombre<br> <input type="text" id="nombre" required><br><br>
                Apellido<br> <input type="text" id="apellido" required><br><br>
                Email<br> <input type="email" id="email" placeholder="ejemplo@gmail.com" required><br><br>
                Consulta<br> <textarea  placeholder="Escriba su consulta" id="consulta" required></textarea><br><br>
                <button id="enviar">Enviar Consulta</button><br><br>                
            </form>
        </div>
    </div>
</main>