.oferta{
    background: indianred;
    border-radius: 1rem;
}
.fa{
    background:white;
    color:indianred;
}
.cursos{
    width: auto;
    background-color:indianred ;
}
h2{
    color: white;
    border-radius: 2px;
    background-color: rgb(148, 57, 57);
    text-align: center;
}
.contenedor{
    width: 100%;
        
}